html {
  background-color: aliceblue;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: 'Merriweather', serif;
  color: #222;
  font-size: 12pt;
  font-style: normal;
  font-weight: normal;
}
body {
  margin: 0;
}
